doctype html
html
    head
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        
        title=name
    body
        div.container

            br
            br
            h1 Teachers detail :
            br 
            //- a(href="/Teacher_Profile/"+ teacherid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Show My Profile
             br
            br
            a(href="/Add_Teacher/"+ adminid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Add Teacher
            br
            br
            br
            table.table
                thead.thead-dark
                    tr
                        td First Name
                        td Last Name
                        td Email
                        td qualification
                        td Details
                        td Edit
                        td delete
                tbody
                    each val in teacherList
                        tr 
                            td= val.name
                            td= val.surname
                            td= val.email
                            td= val.qualification
                            td 
                                a(href="/View_Teacher/"+ val.id)
                                    button.btn.btn-primary(type="button") Show profile
                            td 
                                a(href="/Update_Teacher/"+ val.id )
                                   button.btn.btn-primary(type="button") 
                                        i.fa.fa-pencil-square-o
                                        |  Edit 
                                        
                            td 
                                a(href="/Delete_Teacher/"+ val.id)
                                    button.btn.btn-primary(type="button")
                                        i.fa.fa-trash
                                        |  Trash 
            br
            br
            h1 Students detail :
            br 
            //- a(href="/Teacher_Profile/"+ teacherid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Show My Profile
             br
            br
            a(href="/Admin_Add_Student/"+ adminid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Add Student
            br
            br
            br
            table.table
                thead.thead-dark
                    tr
                        td First Name
                        td Last Name
                        td Email
                        td class
                        td Details
                        td Edit
                        td delete
                tbody
                    each val1 in studentList
                        tr 
                            td= val1.name
                            td= val1.surname
                            td= val1.email
                            td= val1.class
                            td 
                                a(href="/View_Student/"+ val1.id)
                                    button.btn.button.btn-primary(type="button") Show profile
                            td 
                                a(href="/Admin_Update_Student/"+ val1.id )
                                    button.btn.btn-primary(type="button" ) 
                                        i.fa.fa-pencil-square-o
                                        |  Edit 
                                        
                            td 
                                a(href="/Admin_Delete_Student/"+ val1.id)
                                    button.btn.btn-primary(type="button")
                                        i.fa.fa-trash
                                        |  Trash                   
            br
            br
            h1 Notices details :
            br 
            //- a(href="/Teacher_Profile/"+ teacherid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Show My Profile
             br
            br
            a(href="/Admin_Add_Notice/"+adminid)
                button.btn.btn-primary(type="button" style="margin-right: 16px") Add Notice
            br
            br
            br
            table.table
                thead.thead-dark
                    tr
                        td id
                        td Title
                        td Notice Details
                        td Details
                        td Edit
                        td delete
                tbody
                    each val2 in noticeList
                        tr 
                            td= val2.id
                            td= val2.title
                            td= val2.description
                            td 
                                a(href="/View_Notice/"+ val2.id)
                                    button.btn.btn-primary(type="button") Show Details
                            td 
                                a(href="/Admin_Update_Notice/"+ val2.id )
                                    button.btn.btn-primary(type="button") 
                                        i.fa.fa-pencil-square-o
                                        |  Edit 
                                        
                            td 
                                a(href="/Admin_Delete_Notice/"+ val2.id)
                                    button.btn.btn-primary(type="button")
                                        i.fa.fa-trash
                                        |  Trash                 

            br
            br
                    
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        